{% set pageVar = {title: 'title'} %}
{% extends 'inc/layout.html' %}
{% block content -%}
<div style="font-size: 20px;">
	<div style="font-weight: 300;">
		가나다라마바사아자차카타파하
		아햏햏 옥온옫올옴옵옷옹옺옻옾옼옿
	</div>
	<div style="font-weight: 400;">
		가나다라마바사아자차카타파하
		아햏햏 옥온옫올옴옵옷옹옺옻옾옼옿
	</div>
	<div style="font-weight: 700;">
		가나다라마바사아자차카타파하
		아햏햏 옥온옫올옴옵옷옹옺옻옾옼옿
	</div>
	<div style="font-weight: 800;">
		가나다라마바사아자차카타파하
		아햏햏 옥온옫올옴옵옷옹옺옻옾옼옿
	</div>
</div>
<div style="font-size: 20px;font-family: ns;">
	<div style="font-weight: 300;">
		가나다라마바사아자차카타파하
		아햏햏 옥온옫올옴옵옷옹옺옻옾옼옿
	</div>
	<div style="font-weight: 400;">
		가나다라마바사아자차카타파하
		아햏햏 옥온옫올옴옵옷옹옺옻옾옼옿
	</div>
	<div style="font-weight: 700;">
		가나다라마바사아자차카타파하
		아햏햏 옥온옫올옴옵옷옹옺옻옾옼옿
	</div>
	<div style="font-weight: 800;">
		가나다라마바사아자차카타파하
		아햏햏 옥온옫올옴옵옷옹옺옻옾옼옿
	</div>
</div>
<div style="font-size: 20px;font-family: noto;">
	<div style="font-weight: 300;">
		가나다라마바사아자차카타파하
		아햏햏 옥온옫올옴옵옷옹옺옻옾옼옿
	</div>
	<div style="font-weight: 400;">
		가나다라마바사아자차카타파하
		아햏햏 옥온옫올옴옵옷옹옺옻옾옼옿
	</div>
	<div style="font-weight: 700;">
		가나다라마바사아자차카타파하
		아햏햏 옥온옫올옴옵옷옹옺옻옾옼옿
	</div>
	<div style="font-weight: 800;">
		가나다라마바사아자차카타파하
		아햏햏 옥온옫올옴옵옷옹옺옻옾옼옿
	</div>
</div>
{%- endblock %}